In [8]:
import pandas as pd

data = pd.read_csv('../networks/data/global_before_1700.csv', index_col=[0])
data[data['region_name']=='Latin World'].sort_values('birthyear', ascending=True)


data[data['individual_name'].str.contains('Coper')]

,wikidata_id,individual_name,region_code,region_name,birthyear,meta_occupation,meta_region
42068,Q619,Nicolaus Copernicus,re_central_europe,Central Europe,1473.0,philosopher | physicist | astronomer | mathema...,europe