In [2]:
import sqlite3
import pandas as pd
import numpy as np
import os
import polars as pl

import random
random.seed(42)

import sys

sys.path.append('../')
sys.path.append('../networks')
from dotenv import load_dotenv

import plotly.express as px

# Load the environment variables from the .env file
dotenv_path = os.path.join('../', '.env')
load_dotenv(dotenv_path)

True

In [3]:
from functions.env import DB_SCIENCE_PATH

conn = sqlite3.connect(DB_SCIENCE_PATH)
conn_full_db = sqlite3.connect(os.getenv("FULL_DB_PATH"))

columns_to_keep = [
        "re_arabic_world",
        "re_central_europe",
        "re_chinese_world",
        "re_eastern_europe",
        "re_france",
        "re_german_world",
        "re_greek_world",
        "re_indian_world",
        "re_italy",
        "re_japan",
        "re_low_countries",
        "re_nordic_countries",
        "re_persian_world",
        "re_slav_world",
        "re_spain",
        "re_united_kingdom",
    ]


df_occupation = pd.read_sql("SELECT * FROM individual_id_cleaned_occupations", conn)

In [15]:
df_meta = pd.read_sql("SELECT * FROM temporal_data", conn)
df_meta = df_meta[df_meta['region_code'].isin(columns_to_keep)]
len(set(df_meta.wikidata_id))

21430

In [25]:
df_meta

,wikidata_id,region_code,birthyear,interest,decade,fifty,century
2,Q3136004,re_france,1802.0,nature,1800,1800,1800
6,Q85194,re_german_world,1827.0,nature,1830,1850,1800
10,Q123735,re_german_world,1760.0,abstract,1760,1750,1800
15,Q6288070,re_united_kingdom,1817.0,abstract,1820,1800,1800
18,Q75994,re_german_world,1817.0,nature,1820,1800,1800
...,...,...,...,...,...,...,...
85718,Q11671324,re_japan,1785.0,humans,1780,1800,1800
85720,Q3135437,re_japan,1714.0,abstract,1710,1700,1700
85721,Q6531189,re_japan,1810.0,nature,1810,1800,1800
85723,Q55050774,re_japan,1841.0,nature,1840,1850,1800
85724,Q11534346,re_japan,1832.0,abstract,1830,1850,1800

In [20]:
columns_non_eu = [
    "re_arabic_world",
    "re_central_europe",
    "re_chinese_world",
    "re_eastern_europe",
    "re_indian_world",
    "re_japan",
    "re_muslim_world",
    "re_persian_world",
    "re_slav_world",
]

In [22]:
df_non_eu = df_meta[df_meta['region_code'].isin(columns_non_eu)]
len(set(df_non_eu.wikidata_id))

4164