Count the number of individuals and raw occupations before cleaning

In [9]:
import sys
import pandas as pd

sys.path.append('../')

In [10]:
from src.functions.env import DATA_PATH, DB_SCIENCE_PATH

data = pd.read_csv(DATA_PATH + "/df_indi_occupations.csv", index_col=[0])

In [12]:
len(set(data.occupation))

585

In [13]:
len(set(data.wikidata_id))

28396

count unique cleaned occupations

In [18]:
import sqlite3
import os

In [21]:
conn_full_db = sqlite3.connect(os.getenv("FULL_DB_PATH"))
conn = sqlite3.connect("../database.db")

In [34]:
df_cleaned_occupations = pd.read_sql_query(
        "SELECT * FROM individual_id_cleaned_occupations", conn
    )

In [39]:
len(set(df_cleaned_occupations.meta_occupation))

28

In [38]:
df_cleaned_occupations

      wikidata_id meta_occupation
0        Q1000034   mathematician
1        Q1000581   mathematician
2        Q1000608  anthropologist
3        Q1000929      geneticist
4        Q1001161       geologist
...           ...             ...
31317      Q98077       anatomist
31318     Q981572       anatomist
31319      Q98237       anatomist
31320   Q98603404       anatomist
31321      Q98844       anatomist

[31322 rows x 2 columns]