In [1]:
import sys

sys.path.append("../")

import sqlite3
import pandas as pd
from functions.env import DB_SCIENCE_PATH_NEW

data_path = "/Users/charlesdedampierre/Desktop/cultura_project/cultura.db"

conn = sqlite3.connect(data_path)

In [18]:
df_ind = pd.read_sql("SELECT * FROM individual_occupations", conn)

df_ind_science = df_ind[df_ind["occupations_category"].str.contains("science")]
list_individuals = list(set(df_ind_science.individual_wikidata_id))

df_ind = df_ind[df_ind['individual_wikidata_id'].isin(list_individuals)]

df_ind_country = pd.read_sql("SELECT * FROM individuals_main_information", conn)
df_ind_country = df_ind_country[['individual_wikidata_id', 'country_code', 'birthyear']].dropna().drop_duplicates()
df_ind_country = df_ind_country[df_ind_country['birthyear']<=1700]
df_ind_country = pd.merge(df_ind_country, df_ind, on = 'individual_wikidata_id')
df_ind_country = df_ind_country[['individual_wikidata_id', 'country_code']].drop_duplicates().reset_index(drop=True)
df_ind_country

     individual_wikidata_id country_code
0                 Q22691480          DEU
1                 Q80665311          NLD
2                  Q1881341          IRQ
3                   Q983482          ISL
4                   Q214080          CHL
...                     ...          ...
5877                 Q64016          AGO
5878              Q18945731          FRA
5879              Q65921411          LTU
5880                Q158097          DEU
5881                Q312788          ITA

[5882 rows x 2 columns]

In [19]:
import geopandas as gpd
df_world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))
df_world = df_world[['iso_a3', 'continent']].drop_duplicates()
df_world = df_world.rename(columns = {'iso_a3':'country_code'})

df_final = pd.merge(df_ind_country, df_world, on = 'country_code')
df_final.continent.value_counts()

/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_8070/3108450217.py:2: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  df_world = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))

Europe           4850
Asia              515
North America     213
South America     183
Africa            120
Oceania             1
Name: continent, dtype: int64

In [31]:
df_continent = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))
df_continent[df_continent['continent']=='Asia']

/var/folders/lx/9b13r6ln63jb54_3xlf9b_380000gn/T/ipykernel_8070/495868171.py:1: FutureWarning: The geopandas.dataset module is deprecated and will be removed in GeoPandas 1.0. You can get the original 'naturalearth_lowres' data from https://www.naturalearthdata.com/downloads/110m-cultural-vectors/.
  df_continent = gpd.read_file(gpd.datasets.get_path("naturalearth_lowres"))

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
5,1.851393e+07,Asia,Kazakhstan,KAZ,181665,"POLYGON ((87.35997 49.21498, 86.59878 48.54918..."
6,3.358065e+07,Asia,Uzbekistan,UZB,57921,"POLYGON ((55.96819 41.30864, 55.92892 44.99586..."
8,2.706256e+08,Asia,Indonesia,IDN,1119190,"MULTIPOLYGON (((141.00021 -2.60015, 141.01706 ..."
24,1.293119e+06,Asia,Timor-Leste,TLS,2017,"POLYGON ((124.96868 -8.89279, 125.08625 -8.656..."
76,9.053300e+06,Asia,Israel,ISR,394652,"POLYGON ((35.71992 32.70919, 35.54567 32.39399..."
77,6.855713e+06,Asia,Lebanon,LBN,51991,"POLYGON ((35.82110 33.27743, 35.55280 33.26427..."
79,4.685306e+06,Asia,Palestine,PSE,16276,"POLYGON ((35.39756 31.48909, 34.92741 31.35344..."
83,1.010169e+07,Asia,Jordan,JOR,44502,"POLYGON ((35.54567 32.39399, 35.71992 32.70919..."
84,9.770529e+06,Asia,United Arab Emirates,ARE,421142,"POLYGON ((51.57952 24.24550, 51.75744 24.29407..."
85,2.832067e+06,Asia,Qatar,QAT,175837,"POLYGON ((50.81011 24.75474, 50.74391 25.48242..."
86,4.207083e+06,Asia,Kuwait,KWT,134628,"POLYGON ((47.97452 29.97582, 48.18319 29.53448..."
87,3.930978e+07,Asia,Iraq,IRQ,234094,"POLYGON ((39.19547 32.16101, 38.79234 33.37869..."
88,4.974986e+06,Asia,Oman,OMN,76331,"MULTIPOLYGON (((55.20834 22.70833, 55.23449 23..."
90,1.648654e+07,Asia,Cambodia,KHM,27089,"POLYGON ((102.58493 12.18659, 102.34810 13.394..."
91,6.962558e+07,Asia,Thailand,THA,543548,"POLYGON ((105.21878 14.27321, 104.28142 14.416..."
92,7.169455e+06,Asia,Laos,LAO,18173,"POLYGON ((107.38273 14.20244, 106.49637 14.570..."
93,5.404542e+07,Asia,Myanmar,MMR,76085,"POLYGON ((100.11599 20.41785, 99.54331 20.1866..."
94,9.646211e+07,Asia,Vietnam,VNM,261921,"POLYGON ((104.33433 10.48654, 105.19991 10.889..."
95,2.566616e+07,Asia,North Korea,PRK,40000,"MULTIPOLYGON (((130.78000 42.22001, 130.78000 ..."
96,5.170910e+07,Asia,South Korea,KOR,1646739,"POLYGON ((126.17476 37.74969, 126.23734 37.840..."
97,3.225167e+06,Asia,Mongolia,MNG,13996,"POLYGON ((87.75126 49.29720, 88.80557 49.47052..."
98,1.366418e+09,Asia,India,IND,2868929,"POLYGON ((97.32711 28.26158, 97.40256 27.88254..."
99,1.630462e+08,Asia,Bangladesh,BGD,302571,"POLYGON ((92.67272 22.04124, 92.65226 21.32405..."
100,7.630920e+05,Asia,Bhutan,BTN,2530,"POLYGON ((91.69666 27.77174, 92.10371 27.45261..."
101,2.860871e+07,Asia,Nepal,NPL,30641,"POLYGON ((88.12044 27.87654, 88.04313 27.44582..."
102,2.165653e+08,Asia,Pakistan,PAK,278221,"POLYGON ((77.83745 35.49401, 76.87172 34.65354..."
103,3.804175e+07,Asia,Afghanistan,AFG,19291,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
104,9.321018e+06,Asia,Tajikistan,TJK,8116,"POLYGON ((67.83000 37.14499, 68.39203 38.15703..."
105,6.456900e+06,Asia,Kyrgyzstan,KGZ,8454,"POLYGON ((70.96231 42.26615, 71.18628 42.70429..."
106,5.942089e+06,Asia,Turkmenistan,TKM,40761,"POLYGON ((52.50246 41.78332, 52.94429 42.11603..."
107,8.291391e+07,Asia,Iran,IRN,453996,"POLYGON ((48.56797 29.92678, 48.01457 30.45246..."
108,1.707014e+07,Asia,Syria,SYR,98830,"POLYGON ((35.71992 32.70919, 35.70080 32.71601..."
109,2.957731e+06,Asia,Armenia,ARM,13672,"POLYGON ((46.50572 38.77061, 46.14362 38.74120..."
124,8.342962e+07,Asia,Turkey,TUR,761425,"MULTIPOLYGON (((44.77268 37.17044, 44.29345 37..."
138,2.180300e+07,Asia,Sri Lanka,LKA,84008,"POLYGON ((81.78796 7.52306, 81.63732 6.48178, ..."
139,1.397715e+09,Asia,China,CHN,14342903,"MULTIPOLYGON (((109.47521 18.19770, 108.65521 ..."
140,2.356838e+07,Asia,Taiwan,TWN,1127000,"POLYGON ((121.77782 24.39427, 121.17563 22.790..."
145,1.002332e+07,Asia,Azerbaijan,AZE,48047,"MULTIPOLYGON (((46.40495 41.86068, 46.68607 41..."
146,3.720382e+06,Asia,Georgia,GEO,17477,"POLYGON ((39.95501 43.43500, 40.07696 43.55310..."
147,1.081166e+08,Asia,Philippines,PHL,376795,"MULTIPOLYGON (((120.83390 12.70450, 120.32344 ..."
148,3.194978e+07,Asia,Malaysia,MYS,364681,"MULTIPOLYGON (((100.08576 6.46449, 100.25960 6..."
149,4.332850e+05,Asia,Brunei,BRN,13469,"POLYGON ((115.45071 5.44773, 115.40570 4.95523..."
155,1.262649e+08,Asia,Japan,JPN,5081769,"MULTIPOLYGON (((141.88460 39.18086, 140.95949 ..."
157,2.916192e+07,Asia,Yemen,YEM,22581,"POLYGON ((52.00001 19.00000, 52.78218 17.34974..."
158,3.426853e+07,Asia,Saudi Arabia,SAU,792966,"POLYGON ((34.95604 29.35655, 36.06894 29.19749..."
160,3.260000e+05,Asia,N. Cyprus,CYN,3600,"POLYGON ((32.73178 35.14003, 32.80247 35.14550..."
161,1.198575e+06,Asia,Cyprus,CYP,24948,"POLYGON ((32.73178 35.14003, 32.91957 35.08783..."

In [27]:
df_continent = df_final[['country_code', 'continent']].drop_duplicates()
df_continent = df_continent.sort_values('continent')
df_continent[df_continent['continent']=='Asia']

     country_code continent
5802          PAK      Asia
5241          KOR      Asia
5793          IDN      Asia
1206          IRQ      Asia
5752          MYS      Asia
5499          YEM      Asia
5733          PSE      Asia
5731          MMR      Asia
3426          TUR      Asia
5695          UZB      Asia
5625          SAU      Asia
5633          KAZ      Asia
5634          TJK      Asia
5636          ARM      Asia
5641          PHL      Asia
5879          MNG      Asia
5880          CYN      Asia
5130          IRN      Asia
5730          LBN      Asia
5803          VNM      Asia
5013          SYR      Asia
4979          JPN      Asia
5690          ISR      Asia
5833          TKM      Asia
5840          AZE      Asia
5874          JOR      Asia
3721          CHN      Asia
5854          KHM      Asia
5805          AFG      Asia
5862          NPL      Asia
4650          IND      Asia
5876          ARE      Asia
5861          THA      Asia